<div align="center">
  <h3> Create a new To-Do list item </h3>

  <% if @todo.errors.any? %>                              <!-- check if any errors present -->
    <h3> Your To-Do item could not be saved: </h3>       <!-- if yes, display the messages -->
    <ul>
      <% @todo.errors.full_messages.each do |msg| %>       <!-- for all @todo err messages -->
        <li> <%= msg %> </li>                                 <!-- display message in list -->
      <% end %>
    </ul>
  <% end %>

  <%= render 'form' %>                                         <!-- no path necessary here -->

  <p> <%= link_to 'Cancel', todos_path %> </p>
</div>

